PORT=4000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=db_colegio_Jose
DB_PORT=5432
JWT_SECRET=your_jwt_secret
TZ=America/Lima

# Prisma DB connection string
DATABASE_URL="postgresql://user:password@localhost:5432/db_colegio_Jose?schema=public"
